SELECT PART_CODIGO part_codigo, EV.EQUI_NOMBRE visitante, EL.EQUI_NOMBRE 'local', COUNT(DISTINCT V.DEPA_CODIGO) goles_visitante, COUNT(DISTINCT L.DEPA_CODIGO) goles_local
FROM PARTIDO
LEFT JOIN EQUIPO EV ON EV.EQUI_CODIGO = PART_VISITANTE
LEFT JOIN EQUIPO EL ON EL.EQUI_CODIGO = PART_LOCAL
LEFT JOIN DETALLE_PARTIDO V ON (V.DEPA_PARTIDO = PART_CODIGO) AND ((V.DEPA_ACCION = 1 AND PART_VISITANTE = V.DEPA_EQUIPO) OR (V.DEPA_ACCION = 10 AND PART_LOCAL = V.DEPA_EQUIPO))
LEFT JOIN DETALLE_PARTIDO L ON (L.DEPA_PARTIDO = PART_CODIGO) AND ((L.DEPA_ACCION = 10 AND PART_VISITANTE = L.DEPA_EQUIPO) OR (L.DEPA_ACCION = 1 AND PART_LOCAL = L.DEPA_EQUIPO))
GROUP BY PART_CODIGO, EV.EQUI_NOMBRE, EL.EQUI_NOMBRE
