CREATE TRIGGER ACTUALIZAR_MEJOR_POSICION 
ON PARTIDO
AFTER UPDATE, INSERT AS
BEGIN 
	IF(UPDATE(PART_DURACION))
	BEGIN
		UPDATE TORNEO_EQUIPO SET TOEQ_MEJOR_POSICION = (
											SELECT (CASE 
													WHEN TAPO_POSICION >= TOEQ_MEJOR_POSICION THEN TOEQ_MEJOR_POSICION
													ELSE TAPO_POSICION
													END)
											FROM TABLA_POSICIONES
											WHERE TOEQ_EQUIPO = TAPO_EQUIPO AND TOEQ_TORNEO = TAPO_TORNEO
											)
		WHERE TOEQ_EQUIPO IN (SELECT PART_LOCAL FROM inserted  UNION SELECT PART_VISITANTE FROM inserted)
	END	
END