CREATE VIEW JUGADOR_AUSENCIA (JUGADOR, DESDE, HASTA,TIPO_AUSENCIA, CODIGO_AUSENCIA)
AS
(
	SELECT LEJU_JUGADOR, LEJU_FECHA_REAL,LEJU_FECHA_REAL + TILE_DIAS_RECUPERACION, 'L', LEJU_LESION
	FROM LESION_JUGADOR
	JOIN TIPO_LESION ON TILE_CODIGO = LEJU_LESION

	UNION

	SELECT SANC_JUGADOR, TORN_FECHA_INICIO, ISNULL(PART_FECHA_HORA, TORN_FECHA_FIN), 'S', SANC_CODIGO
	FROM SANCION
	JOIN TORNEO_EQUIPO ON SANC_EQUIPO = TOEQ_EQUIPO 
	JOIN TORNEO ON TOEQ_TORNEO = TORN_CODIGO
	LEFT JOIN PARTIDO ON PART_FECHA_TORNEO = SANC_DURACION AND PART_TORNEO = TORN_CODIGO AND (SANC_EQUIPO = PART_VISITANTE OR SANC_EQUIPO = PART_LOCAL)
)