CREATE FUNCTION GANO_DT(@dt int, @porcentaje float)
RETURNS FLOAT AS
BEGIN
	DECLARE @gana float
	SET @gana = 0
	DECLARE @codigo_premio int
	
	DECLARE PREMIOS_DT CURSOR
	FOR (SELECT (CASE TAPO_POSICION
			WHEN 1 THEN TORN_PRIMER_PREMIO
			WHEN 2 THEN TORN_SEGUNDO_PREMIO
			WHEN 3 THEN TORN_TERCER_PREMIO
			END)
	FROM TABLA_POSICIONES
	JOIN EQUIPO ON EQUI_CODIGO = TAPO_EQUIPO
	JOIN TORNEO ON TORN_CODIGO = TAPO_TORNEO
	WHERE TAPO_POSICION IN (1,2,3) AND EQUI_DT = @dt)
	
	OPEN PREMIOS_DT
	
	FETCH PREMIOS_DT INTO @codigo_premio
	
	WHILE @@FETCH_STATUS = 0
	BEGIN
		SET @gana = @gana + (SELECT CONVERT(float, PREM_DETALLE) FROM PREMIO WHERE PREM_CODIGO = @codigo_premio)
		FETCH PREMIOS_DT INTO @codigo_premio
	END
	
	CLOSE PREMIOS_DT
	DEALLOCATE PREMIOS_DT
	
	RETURN (@gana * @porcentaje) / 100
END