CREATE FUNCTION GANO_DT(@dt int, @porcentaje float)
RETURNS FLOAT AS
BEGIN
	RETURN (
		SELECT SUM(CONVERT(float,PREM_DETALLE)) * @porcentaje / 100
		FROM TABLA_POSICIONES
		JOIN EQUIPO ON EQUI_CODIGO = TAPO_EQUIPO
		JOIN TORNEO ON TORN_CODIGO = TAPO_TORNEO
		JOIN PREMIO ON PREM_CODIGO = (CASE TAPO_POSICION
					WHEN 1 THEN TORN_PRIMER_PREMIO
					WHEN 2 THEN TORN_SEGUNDO_PREMIO
					WHEN 3 THEN TORN_TERCER_PREMIO
					END)
		WHERE TAPO_POSICION IN (1,2,3) AND EQUI_DT = @dt
		)
END