CREATE VIEW TORNEO_PUNTOS (TOPU_TORNEO, TOPU_EQUIPO, TOPU_PARTIDOS, TOPU_FECHAS_RESTANTES, TOPU_PUNTOS, TOPU_DIFERENCIA_GOLES) AS
(SELECT PAPU_TORNEO, PAPU_EQUIPO, COUNT(*), TORN_CANTIDAD_FECHAS - COUNT(*), SUM(PAPU_PUNTOS), SUM(PAPU_DIFERENCIA_GOLES)
FROM PARTIDO_PUNTOS
JOIN TORNEO ON PAPU_TORNEO = TORN_CODIGO
WHERE PAPU_PUNTOS IS NOT NULL
GROUP BY PAPU_TORNEO, PAPU_EQUIPO, TORN_CANTIDAD_FECHAS)